@{
    ViewBag.Title = "Curtain Call Details";
}

<main id="portfolio-main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-8">
                    <h2 class="portfolio-title">Show Posters</h2>
                    <div class="owl-carousel portfolio-details-carousel">
                        <img src="~/Content/assets/img/portfolio/CurtainCall2.jpg" class="img-fluid" alt="">
                        <img src="~/Content/assets/img/portfolio/CurtainCall_July16.jpg" class="img-fluid" alt="">
                        <img src="~/Content/assets/img/portfolio/CurtainCall_Sept16.jpg" class="img-fluid" alt="">
                        <img src="~/Content/assets/img/portfolio/CurtainCall_Nov16.jpg" class="img-fluid" alt="">
                        <img src="~/Content/assets/img/portfolio/CurtainCall_Feb17.jpg" class="img-fluid" alt="">
                        <img src="~/Content/assets/img/portfolio/CurtainCall_August25.jpg" class="img-fluid" alt="">
                        <img src="~/Content/assets/img/portfolio/CurtainCall_Nov10.jpg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-4 portfolio-info">
                    <h3>Project Information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web Design &amp; Digital Marketing</li>
                        <li><strong>Client</strong>: Curtain Call with Chris Holbrook</li>
                        <li><strong>Project date</strong>: 2016 - 2018</li>
                        <li><strong>Project URL</strong>: No longer active</li>
                    </ul>

                    <p>
                        Kansas City's premiere musical talk show. Chris Holbrook chats with local KC actors about their life and times. With a few songs along the way.
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->