@{
    ViewBag.Title = "Links";
}

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>@ViewBag.Title</h2>
                <p>Check out my Centriq Training classmates' websites below.</p>
            </div>

            <div class="row" style="justify-content: center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://tylerfierro.net" target="_blank">
                                <img src="~/Content/assets/img/classmates/TylerFierro.jpg" alt="Tyler Fierro"/>
                            </a>
                        </div>
                        <h4><a href="http://tylerfierro.net" target="_blank">Tyler Fierro</a></h4>
                        <!--<p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://cadehocraffer.com" target="_blank">
                                <img src="~/Content/assets/img/classmates/CadeHocraffer.jpg" alt="Cade Hocraffer"/>
                            </a>
                        </div>
                        <h4><a href="http://cadehocraffer.com" target="_blank">Cade Hocraffer</a></h4>
                        <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://djlentz.com" target="_blank">
                                <i class="bx bx-slideshow"></i>
                            </a>
                        </div>
                        <h4><a href="http://djlentz.com" target="_blank">Damian Lentz</a></h4>
                        <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://zacharytm.com" target="_blank">
                                <img src="~/Content/assets/img/classmates/ZacharyMallicoat.jpg" alt="Zachary Mallicoat"/>
                            </a>
                        </div>
                        <h4><a href="http://zacharytm.com" target="_blank">Zach Mallicoat</a></h4>
                        <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>-->
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://youneedham.net" target="_blank">
                                <img src="~/Content/assets/img/classmates/ElizabethNeedham.jpg" alt="Elizabeth Needham"/>
                            </a>
                        </div>
                        <h4><a href="http://youneedham.net" target="_blank">Elizabeth Needham</a></h4>
                        <!--<p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://reedcoding.com" target="_blank">
                                <img src="~/Content/assets/img/classmates/DeborahReed.jpg" alt="Deborah Reed"/>
                            </a>
                        </div>
                        <h4><a href="http://reedcoding.com" target="_blank">Deborah Reed</a></h4>
                        <!--<p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://loganrothrock.com" target="_blank">
                                <img src="~/Content/assets/img/classmates/LoganRothrock.jpg" alt="Logan Rothrock"/>
                            </a>
                        </div>
                        <h4><a href="http://loganrothrock.com" target="_blank">Logan Rothrock</a></h4>
                        <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>-->
                    </div>
                </div>
            </div>

            <div class="row" style="justify-content: center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://chadway.net" target="_blank">
                                <img src="~/Content/assets/img/classmates/ChadWay.jpg" alt="Chad Way"/>
                            </a>
                        </div>
                        <h4><a href="http://chadway.net" target="_blank">Chad Way</a></h4>
                        <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://christinazuniga.com" target="_blank">
                                <i class="bx bx-slideshow"></i>
                            </a>
                        </div>
                        <h4><a href="http://christinazuniga.com" target="_blank">Christina Zuniga</a></h4>
                        <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://nicholaszuniga.com" target="_blank">
                                <img src="~/Content/assets/img/classmates/NicholasZuniga.jpg" alt="Nicholas Zuniga"/>
                            </a>
                        </div>
                        <h4><a href="http://nicholaszuniga.com" target="_blank">Nicholas Zuniga</a></h4>
                        <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>-->
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->