@{
    ViewBag.Title = "Links | Justin L Kennedy";
}

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Links</h2>
                <p>Check out my Centriq Training classmates' websites below.</p>
            </div>

            <div class="row" style="justify-content: center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://tylerfierro.net" target="_blank">
                                <img src="https://media-exp1.licdn.com/dms/image/C5603AQFA8pRNd2L3rw/profile-displayphoto-shrink_100_100/0?e=1606953600&v=beta&t=-xEJFv0A5bgFqmfOTwZMIyGNK54Ed3cLvq8A2g2zgDw" />
                            </a>
                        </div>
                        <h4><a href="http://tylerfierro.net" target="_blank">Tyler Fiero</a></h4>
                        <!--<p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://cadehocraffer.com" target="_blank">
                                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHRc1nRNw-QoA/profile-displayphoto-shrink_100_100/0?e=1606953600&v=beta&t=hJUvf3qmcQC-i1Mw4iJnKHrsmESgX6GpWRiLuVNP6MM" />
                            </a>
                        </div>
                        <h4><a href="http://cadehocraffer.com" target="_blank">Cade Hocraffer</a></h4>
                        <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="bx bx-slideshow"></i>
                        </div>
                        <h4><a href="http://djlentz.com" target="_blank">Damian Lentz</a></h4>
                        <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://ztmallicoat.com" target="_blank">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQF2aiu24h9Tew/profile-displayphoto-shrink_100_100/0?e=1606953600&v=beta&t=6bMrFVxdve37ewnLLEfRA2K8xQo7f2alr07sr3YxXVA" />
                            </a>
                        </div>
                        <h4><a href="http://ztmallicoat.com" target="_blank">Zach Mallicoat</a></h4>
                        <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>-->
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://youneedham.net" target="_blank">
                                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGw6aEzJ7_YaA/profile-displayphoto-shrink_100_100/0?e=1606953600&v=beta&t=HYEHE3e3x3Q-qFSoJsIo-HaC8Bj-jfmfp3P3xfSsQoI" />
                            </a>
                        </div>
                        <h4><a href="http://youneedham.net" target="_blank">Elizabeth Needham</a></h4>
                        <!--<p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://reedcoding.com" target="_blank">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFiLlxrFR2iBQ/profile-displayphoto-shrink_100_100/0?e=1606953600&v=beta&t=593RELuzNxzv5i_CD21ZtCdy5QloPzq_cvhvsGJoqcE" />
                            </a>
                        </div>
                        <h4><a href="http://reedcoding.com" target="_blank">Deborah Reed</a></h4>
                        <!--<p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://loganrothrock.com" target="_blank">
                                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGay1l40Whppw/profile-displayphoto-shrink_100_100/0?e=1606953600&v=beta&t=PhQWaJIc8PN-LUPYB0bI8Gl3AWt3n-oz8r40clDL9mM" />
                            </a>
                        </div>
                        <h4><a href="http://loganrothrock.com" target="_blank">Logan Rothrock</a></h4>
                        <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>-->
                    </div>
                </div>
            </div>

            <div class="row" style="justify-content: center">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="bx bx-file"></i>
                        </div>
                        <h4><a href="http://chadway.net" target="_blank">Chad Way</a></h4>
                        <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="bx bx-slideshow"></i>
                        </div>
                        <h4><a href="http://christinazuniga.com" target="_blank">Christina Zuniga</a></h4>
                        <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>-->
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <a href="http://nicholaszuniga.com" target="_blank">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFD1xSyoeGEzg/profile-displayphoto-shrink_100_100/0?e=1607558400&v=beta&t=LfwLUpQSJNsiNDI3lxq6KpQlpiaPhT5QnD9IeOnZHlE" />
                            </a>
                        </div>
                        <h4><a href="http://nicholaszuniga.com" target="_blank">Nicholas Zuniga</a></h4>
                        <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>-->
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->